# Global file types to ignore.
*.sav
*.sgm
*.gba
*.sym
!sym
*.wav
*.ups
*.SNA
*.nlz
*.avi
*.mp4
*.lnk
desktop.ini
*.ss*
*.token
.DS_Store

# Base directories to ignore.
save/
screenshots/
states/

# Definition-related ignores.
Definitions/Definitions.event
Definitions/Skills.s
Definitions/Characters.s
Definitions/Portraits.s

# CSV-related ignores.
CSV/Tables/*.event
CSV/Tables/**/*.event
!CSV/Tables/TableDefinitions.event
CSV/Tables/Characters/CharacterTable.csv

# Map-related ignores.
Maps/MasterMapInstaller.event
Maps/data/*

# Music-related ignores.
Music/WAVs
Music/cache

# Text-related ignores.
.TextEntries/
InstallTextData.event
TextDefinitions.event
Text/ParseDefinitions.txt
CSV/EAFiles/DeathQuotes.event
Text/Chapters/DeathQuotes.s
Text/Characters/Descriptions.s
Text/Characters/Names.s

# Graphics-related ignores.
AnimationAssembler/
CSACreator/
Graphics/BattlePalettes/cache
Graphics/Portraits/cache
Graphics/Portraits/build/*
Graphics/MapSprites/cache
Graphics/ClassCards/cache
Graphics/WorldMap/*.dmp
Graphics/ItemIcons/*.dmp
!Graphics/VanillaPortraitTable.dmp

# Chapter event-related ignores.
Events/build/*

# Misc ignores.
FE-CLib-master
.DS_Store
